<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FlowNexis{% endblock %}</title>
    {% load static %}
    <!-- Google Fonts: Montserrat & Permanent Marker -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/scss/custom.scss' %}">
</head>
<body>
    <!-- Sidebar -->
    {% include "includes/menu-list.html" %}

    <!-- Main Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>